@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.container {
    background-color: white;
    width: 411px;
    margin: auto;
    height: 1900px;
}

.leftWall, .rightWall {
    height: 2000px;
    width: calc(50vw - 206px);
    background-color: white;
    z-index: 10;
}


nav {
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 2px -2px #DADADA;

}

.sTop {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    height: 50px;
}

.sTop div {
    height: 100%;
    background-color: white;
}

.sTop div img{
    margin: auto;
    display: block;
}

.hamburger{
    width: 75px;
}

.hamburger:hover {
    cursor: pointer;
}

.googleLogo {
    width: 261px;
}

.profilePic {
    width: 75px;
}

.hamburger img {
    width: 35%;
    height: auto;
    margin-top: 14px !important;
}

.profilePic img {
    width: 60%;
    height: auto;
    margin-top: 5px !important;
}

.googleLogo img {
    width: 35%;
    height: auto;
    margin-top: 12px !important;
}

.sInputContainer{
    margin-top: 5px;
    width: 100%;
    /* background-color: purple; */
    display: inline-flex;
    flex-direction: row;
}

.sInput {
    margin-left: 8px;
    width: 83%;
    background-color: white;
    height: 42px;
    border: 1px solid rgba(176, 176, 176, 0.4);
    border-right: none;
    box-sizing: border-box;
    border-radius: 25px 0px 0px 25px;
    display: flex;
}

.sInputButton {
    width: 12%;
    background-color: #3771E0;
    height: 42px;
    border: 1px solid rgba(176, 176, 176, 0.4);
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 25px 25px 0px;
}

.sInputButton:hover {
    cursor: pointer;
}

.sInput input {
    margin-left: 20px;
    width: 85%;
    border: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.sInput input:focus {
    outline: none;
}

.sInputSearch {
    width: 18px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.sInputVoice {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

.sTabs {
    height: 30px;
    width: 100%;
    margin-top: 4px;
}

.sTabs ul {
    display: inline-flex;
    list-style-type: none;
    padding-inline-start: 10px;
}

.sTabs ul li {
    text-decoration: none;
    padding-right: 20px;
    font-size: 13px;
}

.all {
    color: #3771E0;
    font-weight: 500;
}

.alert {
    width: 100%;
    height: 95px;
    background: #DA2E23;
    margin-top: 10px;
}

.alert p {
    margin-left: 25px;
}

.alTitle {
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 15px;
}

.alHurric {
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    padding-top: 0px;
}

.alState {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 0;
    margin-top: -10px;
    }

.topstories {
    margin: auto;
    margin-top: 18px;
    width: 395px;
    height: 507px;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(226, 226, 226, 0.6);
    border-radius: 8px;
}

.tsTitle {
    font-size: 12px;
    color: #DA2E23;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 18px;
    padding-top: 3px;

}

.story1, .story2 {
    cursor: pointer;
    margin-left: 18px;

}

.tsTitleBar {
    height: 0px;
    width: 100%;
    border: 1px solid rgba(176, 176, 176, 0.2);
}

.stTop {
    display: inline-flex;
}

.stPub {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: black;

}

.stTime {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #7A7A7A;
    margin-left: 15px;

}

.stTitle {
    color: #3771E0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-top: 1px;
}

.stBar {
    height: 0px;
    width: 362px;
    margin-top: -7px;
    border: 1px solid rgba(176, 176, 176, 0.2);
}

.story2time {
    margin-left: 50px !important;
}

.storyCarousel {
    height: 247px;
    width: 600px;
    position: absolute;
    margin-top: 13px;
    display: flex;
}

.cNews1, .cNews2 {
    width: 226px;
    height: 247px;
    background: white;
    margin-left: 15px;
    border: 1px solid rgba(176, 176, 176, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.cNewsPub img{
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.cNewsThumb img{
    width: 101%;
    margin-left: -1px;
    padding: 0;
    /* height: 50%; */
}

.cNewsTitle {
    color: #3771E0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 4px;
}

.cNewsTime {
    color:black;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 6px;
}

.thumb2 {
    width: 68% !important;

}

.moreNewsBar {
    height: 0px;
    width: 100%;
    border: 1px solid rgba(176, 176, 176, 0.2);
    margin-top: 275px;
}

.moreNews {
    color: #3771E0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.affectedArea {
    width: 395px;
    height: 310px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(226, 226, 226, 0.6);
    border-radius: 8px;
    margin: auto;
    margin-top: 15px;
}

.aaTitle {
    font-size: 12px;
    color: #DA2E23;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 18px;
    padding-top: 3px;
}

.aaMap img{
    width: 395px;
    height: 50%;
}

.aaMapsBar {
    display: flex;
    margin-top: -5px;
}


.aaMapsIcon img {
    margin-top: 11px;
    margin-left: 15px;
    width: 38%;
    height: 45%;
}

.aaMapsText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #545454;
    margin-left: -7px;
}

.aaBar {
    height: 0px;
    width: 100%;
    border: 1px solid rgba(176, 176, 176, 0.2);
    margin-top: -4px;
}

.aaSource {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #545454;
    margin-top: 11px;
    margin-left: 15px;
}

.csTopBar {
    display: flex;
    margin-left: 18px;

}

.communitystories {
    margin-top: 20px;
}

.csPlus {
    text-align: center;
    margin-top: 5px;
}

.csPlus img {
    width: 50%;
    height: 70%;
}

.csTopTitle {
        font-size: 12px;
        color: #DA2E23;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        padding-top: 3px;
        padding-right: 130px;
}

.csAdd {
    color: #3771E0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    margin-left: -5px;
}

.csContainer {
    width: 395px;
    height: 353px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(226, 226, 226, 0.6);
    border-radius: 8px 8px 0px 0px;
    margin: auto;
}

.csBottom {
    width: 395px;
    height: 64px;
    background: #3771E0;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(226, 226, 226, 0.6);
    border-radius: 0px 0px 8px 8px;
    margin: auto;
}

.csCarousel {
    height: 312px;
    width: 600px;
    position: absolute;
    margin-top: 13px;
    display: flex;
}

.csStory1 {
    background-image:url("./assets/csStory1.png");
    background-size: contain;
    background-repeat: none;
    height: 312px;
    width: 255px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}

.csStory2 {
    background-image:url("./assets/csStory2.png");
    background-size: contain;
    background-repeat: none;
    height: 312px;
    width: 255px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}

.csBox {
    height: 116px;
    width: 237px;
    margin: auto;
    margin-top: 180px;
    background-color: white;
    border-radius: 8px;
}

.csStoryDesc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
    width: 195px;
    height: 38px;
    margin: auto;
    padding-top: 20px;
}

.csStoryBottom {
    display: flex;
    margin-left: 22px;
    margin-top: 22px;
}

.csStoryTime {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #7A7A7A;
    margin-left: 55px;
}

.csStoryDistance {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #545454;
}

.csBottom {
    display: flex;
    cursor: pointer;
}

.csButtonText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 15px;
    margin-top: 22px;
}

.csChevron {
    margin-top: 18px;
    margin-left: 60px;
}

.csChevron img{
    width: 25px;
    height: 25px;
}

.nav2 {
    display: flex;
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 400;
    margin-left: -14px;
    font-size: 14px;
    margin-top: 20px;
    color: #545454;
}

.nav2item {
    margin-left: 40px;
    text-decoration: none;
    color: #545454;
}

.nav2item:hover {
    cursor: pointer;
}

.moreNav {
    height: 123px !important;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.12);
    position: absolute;
    
}

.activeNavItem {
    color: #3771E0 !important;
    font-weight: 500;
}

.blueDiv {
    height: 3px;
    width: 54px;
    margin-top: 16px;
    margin-left: -5px;
    background-color: #3771E0;
    border-radius: 3px 3px 0px 0px;
}

.googleLogo2 img{
    margin-left: 0px !important;
    margin-top: 15px !important;
}

.TWOmap {
    background-image: url("./assets/2map.png");
    width: 411px;
    height: 436px;
    background-size: contain;
    margin-top: 123px;
}

.TWOaddStory {
    height: 40px;
    width: 130px;
    background-color: #3771E0;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 140.5px;
    position: absolute;
    margin-top: 375px;
}

.TWOaddStory:hover {
    cursor: pointer;
}

.TWOmapPlus {
    height: 25px;
    width: 25px;
    margin-top: 7px;
    margin-left: 13px;
}

.TWOmapText {
    display: flex;
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 12px;
    margin-left: 5px;
}

.TWOlittleBar {
    height: 3px;
    width: 20px;
    border-radius: 2px;
    background-color: #DADADA;
    margin: auto;
    margin-top: 15px;
}

.TWOcsTop {
    display: flex;
    margin-left: 65px;
}

.TWOcsTopText {
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 10px
}

.TWOcsChevron {
    width: 23px;
    height: 23px;
    margin-top: 12px;
    margin-left: 2px;
}

.TWOdiscussionThreads {
    width: 383px;
    height: 195px;
    border-radius: 8px;
    border: 1px solid rgba(176, 176, 176, 0.2);
    box-sizing: border-box;
    margin: auto;
    margin-top: 350px;
}

.TWOdTop {
    display: flex;
}

.TWOdArrow {
    width: 30px;
    height: 30px;
    margin: auto;
}

.TWOdArrow:hover {
    cursor: pointer;
}

.TWOdTitle {
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 185px;
    margin-top: 15px;
}

.TWOdBar {
    width: 100%;
    height: 1px;
    background-color: rgba(176, 176, 176, 0.2)
}

.TWOdThreadTitle {
    margin-left: 15px;
    font-size: 14px;
    color: #3771E0;
    font-weight: 500;
    margin-top: 15px;
}

.TWOdChevron {
    opacity: 0.4;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 335px;
    top: 1104px;
}

.TWOdChevron2 {
    opacity: 0.4;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 335px;
    top: 1180px;
}

.TWOdThreadBottom {
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #545454;
    display: flex;
    margin-left: 15px;
    margin-top: -12px;
}

.TWOdUpdate {
    margin-left: 25px;
}

.TWOdThread:hover {
    cursor: pointer;
}

.TWOpastStories {
    margin: auto;
}

.TWOsTop {
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
}

.TWOsTopTitle {
    font-size: 14px;
    margin-right: 170px;
}

.TWOsArrow {
    width: 30px;
    height: 30px;
    margin: auto;
    
}

.TWOsArrow:hover {
    cursor: pointer;
}

.TWOsStory {
    width: 383px;
    height: 139px;
    border-radius: 8px;
    background-image: url("./assets/story1.png");
    background-size: contain;
    box-shadow: 0px 2px 4px #E2E2E2;
    color: white;
    margin: auto;
}

.TWOsStory1 {
    background-image: url("./assets/story1.png");
}

.TWOsStory2 {
    background-image: url("./assets/story2.png");
}

.TWOsStory p {
    margin-left: 15px;
}

.TWOsStoryTitle {
    font-size: 18px;
    font-weight: 500;
    padding-top: 87px;
}

.TWOsStoryDesc {
    margin-top: -15px;
    font-size: 10px;
    font-weight: 400;
}


.THREEfilterBar {
    margin:auto;
    margin-top: 125px;
    display: flex;
    margin-left: 15px;
    align-items: center;
    position: absolute;
}

.THREEfilterImg {
    width: 24px;
    height: 24px;
}

.THREEfilterSearch {
    width: 44px;
    height: 33px;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgba(176, 176, 176, 0.2);
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 15px;
}

.THREEfilterItem {
    font-size: 14px;
    color: #545454;
    padding: 8px 12px 8px 12px;
    border: 1px solid rgba(176, 176, 176, 0.2);
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 12px;
}

.THREEfilterBar img:hover, .THREEfilterBar p:hover {
    cursor: pointer;
}

.THREEresults {
    font-size: 12px;
    color: #545454;
    margin-top: 190px;
    margin-left: 15px;
}

.THREEdonationContainer {
    margin: auto;
    height: 259px;
    width: 394px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(226, 226, 226, 0.6);
    border-radius: 8px;
    margin-bottom: 15px;
}

.THREEdonationImg {
    width: 100%;
    height: 111px;
    background-image: url("./assets/donate1.png");
    background-size: contain;
}

.di2 {
    background-image: url("./assets/donate2.png") !important;
    background-repeat: no-repeat;

}

.THREEdonationCenter {
    text-transform: uppercase;
    font-size: 10px;
    color: #545454;
    margin-left: 10px;
    margin-top: 16px;
}

.THREEdonationTitle {
    font-size: 18px;
    color:#3771E0;
    margin-left: 10px;
    margin-top: -3px;
}

.THREEdonationBar {
    width: 378px;
    height: 7px;
    margin: auto;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 30px;
    margin-top: -5px;
}

.THREEdonationProgress{
    width: 255px;
    height: 7px;
    background: #3771E0;
    border-radius: 30px;
    margin-top: 0px;
}

.pb2 {
    width: 160px !important;
}

.THREEdonationGoal {
    font-size: 10px;
    color: #545454;
    margin-left: 10px;
    margin-top: 8px;
}

.THREEbar {
    height: 1px;
    width: 100%;
    margin-top: 14px;
    background-color: rgba(176, 176, 176, 0.2);
}

.THREEdonationBottom {
    display: flex;
}

.THREEdonationBottomLine {
    height: 37px;
    width: 1px;
    background-color: rgba(176, 176, 176, 0.2);
}

.THREEdonationDonate {
    color: #545454;
    font-weight: 500;
    font-size: 14px;
    margin-left: 55px;
    margin-right: 52px;
    margin-top: 11px;
}

.THREEdonationRaise {
    color: #545454;
    font-weight: 500;
    font-size: 14px;
    margin-left: 55px;
    margin-top: 11px;
}

.THREEdonationDonate:hover, .THREEdonationRaise:hover {
    cursor: pointer;
}

.FOURsuggestionBar {
    margin-top: 175px;
    display: flex;
    font-size: 12px;
    position: absolute;
    color: #3771E0;
}

.FOURsuggestion {
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.FOURcurrent {
    margin-top: 230px;
}

.FOURcurrentTitle {
    font-size: 18px;
    color: #545454;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: 190px;
}

.FOURcTop {
    margin-bottom: -15px;
}

.FOURstory1 {
    background-image: url("./assets/current1.png");
    width: 395px !important;
}

.FOURstory2 {
    background-image: url("./assets/current2.png");
    width: 395px !important;
}

.FOURpast {
    position: absolute;
}

.FOURpast1, .FOURpast2 {
    height: 166px;
    width: 222px;
}

.FOURpastContainer {
    display: flex;
    margin-top: 20px;
}

.FOURpast1 {
    background-image: url("./assets/past1.png");
}

.FOURpast2 {
    background-image: url("./assets/past2.png");
    margin-left: 10px;
}

.FOURpastTitle {
    margin-right: 165px;
}

.connect {
    text-decoration: none;
    color: black;
}